.divider-section {
  background: linear-gradient(180deg, #d10000 0%, #7a0000 100%);
  color: white;
  text-align: center;
  padding: 80px,20px;
  position: relative;
  /* overflow: hidden; */
}

.divider-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.divider-subtitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.divider-description {
  font-size: 1rem;
  max-width: 800px;
  margin: 0 auto 30px auto;
  line-height: 1.6;
}

.contact-btn {
  padding: 15px 40px;
  font-size: 1.1rem;
  border: none;
  border-radius: 6px;
  background: #fff;
  color: #d10000;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background: #ffe6e6;
}