.whatsapp-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  z-index: 10000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #25D366; /* WhatsApp green */
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-button img {
  width: 35px;
  height: 35px;
}

.whatsapp-button:hover {
  transform: scale(1.1);
  box-shadow: 0 12px 30px rgba(0,0,0,0.3);
}
